# Teradata Python Module

Installed into Jupyter / Anaconda Python environment using the "conda install teradata" command from the Anaconda command shell.

## Step 1. import the Teradata Python library

In [1]:
import teradata

## Step 2.  Initialize UDA Exec Framework
The “UdaExec” framework that provides DevOps support features such as configuration and logging.
Providing name and version ensures that DBQL and Viewpoint monitoring have proper visibility to our app.

In [2]:
udaExec = teradata.UdaExec( \
    appName="HelloWorld",\
    version="1.0",\
    logConsole=False
    )

## Step 3. Connect
Setting the connection properties and connecting creates a session.

Have used the 64 & 32 bit ODBC Data Source applications to create two data sources:
- tdlocal
- tdlocal32

Both have userid and passwords associated, but the connect method does not appear to work with those settings.

##### *** Connect does not appear to use the system dsn's as neither of the 32 or 64 dsn's by name work!

In [6]:
#session = udaExec.connect(method="odbc", system="tdlocal");
#session = udaExec.connect(method="odbc", system="tdlocal32");
session = udaExec.connect(method="odbc", system="localhost", username="dbc", password="dbc");

## Step 4. Execute queries
This query gets information about this session

In [7]:
for row in session.execute("SELECT GetQueryBand()"):
    print(row)

Row 1: [=S> ApplicationName=HelloWorld;Version=1.0;JobID=20180818124741-5;ClientUser=Glenn;Production=False;udaAppLogFile=C:\Users\Glenn\notebooks\td-spark-python\logs\HelloWorld.20180818124741-5.log;UtilityName=PyTd;UtilityVersion=15.10.0.21;]

## Step 4+ Execute more queries...

In [10]:
for row in session.execute('SELECT * from "Samples"."AirPassengers" ORDER BY "Month"'):
    print(row)

Row 1: [1949-01, 112]
Row 2: [1949-02, 118]
Row 3: [1949-03, 132]
Row 4: [1949-04, 129]
Row 5: [1949-05, 121]
Row 6: [1949-06, 135]
Row 7: [1949-07, 148]
Row 8: [1949-08, 148]
Row 9: [1949-09, 136]
Row 10: [1949-10, 119]
Row 11: [1949-11, 104]
Row 12: [1950-00, 118]
Row 13: [1950-01, 115]
Row 14: [1950-02, 126]
Row 15: [1950-03, 141]
Row 16: [1950-04, 135]
Row 17: [1950-05, 125]
Row 18: [1950-06, 149]
Row 19: [1950-07, 170]
Row 20: [1950-08, 170]
Row 21: [1950-09, 158]
Row 22: [1950-10, 133]
Row 23: [1950-11, 114]
Row 24: [1951-00, 140]
Row 25: [1951-01, 145]
Row 26: [1951-02, 150]
Row 27: [1951-03, 178]
Row 28: [1951-04, 163]
Row 29: [1951-05, 172]
Row 30: [1951-06, 178]
Row 31: [1951-07, 199]
Row 32: [1951-08, 199]
Row 33: [1951-09, 184]
Row 34: [1951-10, 162]
Row 35: [1951-11, 146]
Row 36: [1952-00, 166]
Row 37: [1952-01, 171]
Row 38: [1952-02, 180]
Row 39: [1952-03, 193]
Row 40: [1952-04, 181]
Row 41: [1952-05, 183]
Row 42: [1952-06, 218]
Row 43: [1952-07, 230]
Row 44: [1952-08, 242]
Row 45: [1952-09, 209]
Row 46: [1952-10, 191]
Row 47: [1952-11, 172]
Row 48: [1953-00, 194]
Row 49: [1953-01, 196]
Row 50: [1953-02, 196]
Row 51: [1953-03, 236]
Row 52: [1953-04, 235]
Row 53: [1953-05, 229]
Row 54: [1953-06, 243]
Row 55: [1953-07, 264]
Row 56: [1953-08, 272]
Row 57: [1953-09, 237]
Row 58: [1953-10, 211]
Row 59: [1953-11, 180]
Row 60: [1954-00, 201]
Row 61: [1954-01, 204]
Row 62: [1954-02, 188]
Row 63: [1954-03, 235]
Row 64: [1954-04, 227]
Row 65: [1954-05, 234]
Row 66: [1954-06, 264]
Row 67: [1954-07, 302]
Row 68: [1954-08, 293]
Row 69: [1954-09, 259]
Row 70: [1954-10, 229]
Row 71: [1954-11, 203]
Row 72: [1955-00, 229]
Row 73: [1955-01, 242]
Row 74: [1955-02, 233]
Row 75: [1955-03, 267]
Row 76: [1955-04, 269]
Row 77: [1955-05, 270]
Row 78: [1955-06, 315]
Row 79: [1955-07, 364]
Row 80: [1955-08, 347]
Row 81: [1955-09, 312]
Row 82: [1955-10, 274]
Row 83: [1955-11, 237]
Row 84: [1956-00, 278]
Row 85: [1956-01, 284]
Row 86: [1956-02, 277]
Row 87: [1956-03, 317]
Row 88: [1956-04, 313]
Row 89: [1956-05, 318]
Row 90: [1956-06, 374]
Row 91: [1956-07, 413]
Row 92: [1956-08, 405]
Row 93: [1956-09, 355]
Row 94: [1956-10, 306]
Row 95: [1956-11, 271]
Row 96: [1957-00, 306]
Row 97: [1957-01, 315]
Row 98: [1957-02, 301]
Row 99: [1957-03, 356]
Row 100: [1957-04, 348]
Row 101: [1957-05, 355]
Row 102: [1957-06, 422]
Row 103: [1957-07, 465]
Row 104: [1957-08, 467]
Row 105: [1957-09, 404]
Row 106: [1957-10, 347]
Row 107: [1957-11, 305]
Row 108: [1958-00, 336]
Row 109: [1958-01, 340]
Row 110: [1958-02, 318]
Row 111: [1958-03, 362]
Row 112: [1958-04, 348]
Row 113: [1958-05, 363]
Row 114: [1958-06, 435]
Row 115: [1958-07, 491]
Row 116: [1958-08, 505]
Row 117: [1958-09, 404]
Row 118: [1958-10, 359]
Row 119: [1958-11, 310]
Row 120: [1959-00, 337]
Row 121: [1959-01, 360]
Row 122: [1959-02, 342]
Row 123: [1959-03, 406]
Row 124: [1959-04, 396]
Row 125: [1959-05, 420]
Row 126: [1959-06, 472]
Row 127: [1959-07, 548]
Row 128: [1959-08, 559]
Row 129: [1959-09, 463]
Row 130: [1959-10, 407]
Row 131: [1959-11, 362]
Row 132: [1960-00, 405]
Row 133: [1960-01, 417]
Row 134: [1960-02, 391]
Row 135: [1960-03, 419]
Row 136: [1960-04, 461]
Row 137: [1960-05, 472]
Row 138: [1960-06, 535]
Row 139: [1960-07, 622]
Row 140: [1960-08, 606]
Row 141: [1960-09, 508]
Row 142: [1960-10, 461]
Row 143: [1960-11, 390]
Row 144: [1961-00, 432]